<%= form_for(student) do |f| %>
  <p>
    <b>Student name</b><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <b>Hometown</b><br>
    <%= f.text_field :hometown%>
  </p>
  <p>
    <b>Birthday</b><br>
    <%= f.date_field :birthday %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
